
body{
    background:  #F2F2F2;
}
.hat{
    /* width: 1200px;
    height: 65px; */
    width: 78vw;
    height: 5.4vw;
    background-color: #F2F2F2;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.image-container {
    background-image: url("../Ямал/page1/header/Logo\ base.svg");
    width: 7%;
    height: 35%;
    /* width: 5.55vw;
    height: 2vw; */
    display: block;
    position: absolute; bottom: 27px; left: 0; 
  }

.gps {
    background-image: url("../Ямал/page1/header/gps.svg");
    width: 1.6%;
    height: 22%;
    display: block;
    position: absolute; bottom: 27px; left: 116px; 
}
.gps1{
    width: 14.64vw;
    display: block;
    margin: 0 25px;
    font-family:Arial, Helvetica, sans-serif;
}
.menu{
    background-image: url("../Ямал/page1/header/menu.svg");
    width: 1.6%;
    height: 22%;
    display: block;
    position: absolute; bottom: 27px; left: 0; right: 0; margin: 0 auto;
}
.menu1{
    display: block;
    margin: 0 25px;
    font-family:Arial, Helvetica, sans-serif;
}
.eng{
    display: block;
    position: absolute; bottom: 27px; right: 255px; 
    font-family:Arial, Helvetica, sans-serif;
}
.wers{
    background-image: url("../Ямал/page1/header/eye.svg");
    width: 1.6%;
    height: 22%;
    display: block;
    position: absolute; bottom: 27px; right: 205px;
}
.wers1{
    width: 16.64vw;
    display: block;
    margin: 0 25px;
    font-family:Arial, Helvetica, sans-serif;
}
.fon{
    background-image: url("../Ямал/page1/back.png");
    max-width: 80%;
    height: 36vw;
    display: block;
    margin: auto;
    margin-top: -1vw;
   
}
.t{
    font-family: 'Iskra', arial;
    color: white;
    width: 10%;
    padding-left: 19.5vw;
    padding-top: 11.71vw;
    font-size: 2.64vw;
    
}
.t1{
    font-family: 'Iskra', arial;
    font-size: 0.83vw;
    font-weight: 100;
    color: white;
    width: 21.88vw;
    padding-left: 19.5vw;
    
}
.button{
    background-color: #009974; /*переход на 3 страницу */
    width: 9vw;
    height: 2.5vw;
    border: none;
    border-radius: 0.36vw;
    font-size: 0.9vw;
    color: white;
    margin-left: 19.5vw;
}
.button:hover{
    background-color: white;
    color: #009974;
    transition: 0.7s;
}
.weather{
    background-image: url("../Ямал/page1/news/weather.svg");
    width: 25%;
    height: 25%;
    margin-top: -17.19vw;
    margin-left: 55vw;
}
.aurora{
    background-image: url("../Ямал/page1/news/aurora.svg");
    width: 25%;
    height: 25%;
    margin-left: 55vw;
    position: relative;
}
.image-button {
    width: 2vw;
    height: 2vw;
    border: none;
    background-image: url('../Ямал/page1/news/button_icon.svg');
    background-size: cover;
    border-radius: 0.36vw;
    position: absolute;
    margin-top: 25%;
    margin-left: 85%;
    
  }
.image-button:hover{
    background-image: url("../Ямал/page1/news/button_icon1.svg");
    transition: 0.7s;
}
.image-button2 {
    width: 2vw;
    height: 2vw;
    border: none;
    background-image: url('../Ямал/page1/news/button_icon2.svg');
    background-size: cover;
    border-radius: 0.36vw;
    position: absolute;
    margin-top: 25%;
    margin-left: 7%;
  }
  .image-button2:hover{
    background-image: url("../Ямал/page1/news/button_icon\ 2\(1\).svg");
    transition: 0.7s;
}
.additionally{
    background-image: url("../Ямал/page1/news/additionally.svg");
    width: 20vw;
    height: 20vw;
    margin-left: 55vw;
}
.baclground{
    background-image: url("../Ямал/page1/menu/baclground.svg");
    width: 10%;
    height: 100%;
    margin-top: -48%;
    margin-left: 2%;
    position: relative;
}
.a{
    background-image: url("../Ямал/page1/menu/item_menu.svg");
    width: 2vw;
    height: 2vw;
    position: absolute;
    margin-top: 80%;
    margin-left: 40%;
}
.a:hover{
    background-image: url("../Ямал/page1/menu/OtherColorButtom/item_menu.svg");
    transition: 0.7s;
}
.b{
    background-image: url("../Ямал/page1/menu/item_menu-1.svg");
    width: 2vw;
    height: 2vw;
    position: absolute;
    margin-top: 140%;
    margin-left: 40%;
}
.b:hover{
    background-image: url("../Ямал/page1/menu/OtherColorButtom/item_menu-1.svg");
    transition: 0.7s;
}
.c{
    background-image: url("../Ямал/page1/menu/item_menu-2.svg");
    width: 2vw;
    height: 2vw;
    position: absolute;
    margin-top: 220%;
    margin-left: 40%;
}
.c:hover{
    background-image: url("../Ямал/page1/menu/OtherColorButtom/item_menu-2.svg");
    transition: 0.7s;
}
.d{
    background-image: url("../Ямал/page1/menu/item_menu-3.svg");
    width: 2vw;
    height: 2vw;
    position: absolute;
    margin-top: 280%;
    margin-left: 40%;
}
.d:hover{
    background-image: url("../Ямал/page1/menu/OtherColorButtom/item_menu-3.svg");
    transition: 0.7s;
}
.e{
    background-image: url("../Ямал/page1/menu/item_menu-4.svg");
    width: 2vw;
    height: 2vw;
    position: absolute;
    margin-top: 340%;
    margin-left: 40%;
}
.e:hover{
    background-image: url("../Ямал/page1/menu/OtherColorButtom/item_menu-4.svg");
    transition: 0.7s;
}
.otstup{
    margin-top: 15%;
}
.t2{
    font-family: 'Iskra', arial;
    width: 31.06vw;
    font-size: 2.3vw;
    margin-left: 13vw;
    padding-top: 7vw;
}
.t21{
    font-family: 'Iskra', arial;
    font-size: 1vw;
    font-weight: 100;
    margin-left: 13vw;
}
.t22{
    font-family: 'Iskra', arial;
    width: 27vw;
    font-size: 1vw;
    font-weight: 300;
    margin-top: 2.08vw;
    margin-left: 13vw;
}
.button2{
    background-color: #009974; /*переход на 3 страницу */
    width: 8vw;
    height: 3vw;
    border: none;
    border-radius: 0.36vw;
    font-size: 1vw;
    color: white;
    margin-top: 0.83vw;
    margin-left: 13vw;
}
.button2:hover{
    background-color: white;
    color: #009974;
    transition: 0.7s;
}
.foto{
    position: relative;
}
.a2{
    background-image: url("../Ямал/page2/foto/Rectangle\ 6.png");
    background-position:center center;
    background-size:cover;
    width: 15vw;
    height: 11vw;
    position: absolute;
    margin-top: -27vw;
    margin-left: 55vw;
}
.a21{
    background-image: url("../Ямал/page2/foto/Rectangle\ 7.png");
    background-position:center center;
    background-size:cover;
    width: 12.6vw;
    height: 9.8vw;
    position: absolute;
    margin-top: -15vw;
    margin-left: 69vw;
}
.a22{
    background-image: url("../Ямал/page2/foto/Rectangle\ 8.png");
    background-position:center center;
    background-size:cover;
    width: 9.38vw;
    height: 11vw;
    position: absolute;
    margin-top: -27vw;
    margin-left: 72vw;
}
.a23{
    background-image: url("../Ямал/page2/foto/Rectangle\ 9.png");
    background-position:center center;
    background-size:cover;
    width: 12.6vw;
    height: 9.8vw;
    position: absolute;
    margin-top: -15vw;
    margin-left: 55vw;
}
.a24{
    background-image: url("../Ямал/page2/foto/fact\ 01.svg");
    background-position:center center;
    background-size:cover;
    width: 10vw;
    height: 6vw;
    position: absolute;
    margin-top: -15vw;
    margin-left: 50vw;
}
.a25{
    background-image: url("../Ямал/page2/foto/fact\ 02.svg");
    background-position:center center;
    background-size:cover;
    width: 10vw;
    height: 6vw;
    position: absolute;
    margin-top: -25vw;
    margin-left: 77vw;
}
.page3{
    background-image: url("../Ямал/page8/Group\ 10.svg");
    width: 82vw;
    height: 20vw;
    position: relative;
    margin-top: 0px;
    margin-left: 13vw;
}
.t3{
    font-family: 'Iskra', arial;
    width: 24.08vw;
    font-size: 1.88vw;
    padding-top: 2.61vw;
    margin-left: 2.61vw;
    color: white;
}
.t31{
    font-family: 'Iskra', arial;
    width: 24.08vw;
    font-size: 0.83vw;
    font-weight: 300;
    margin-top: 2.08vw;
    margin-left: 2.61vw;
    color: white;
}
.button3{
    background-color: #009974; /*переход на 3 страницу */
    width: 13vw;
    height: 2.3vw;
    border: none;
    border-radius: 0.36vw;
    font-size: 0.73vw;
    color: white;
    margin-top: 0.83vw;
    margin-left: 2.61vw;
}
.button3:hover{
    background-color: white;
    color: #009974;
    transition: 0.7s;
}
.a3{
    background-image: url("../Ямал/page3/foto/card.svg");
    background-position:center center;
    background-size:cover;
    width: 17vw;
    height: 20vw;
    position: absolute;
    margin-top: -21.89vw;
    margin-left: 45vw;
}
.a31{
    background-image: url("../Ямал/page3/foto/card-1.svg");
    background-position:center center;
    background-size:cover;
    width: 17vw;
    height: 20vw;
    position: absolute;
    margin-top: -10vw;
    margin-left: 55vw;
}
.a32{
    background-image: url("../Ямал/page3/foto/fact\ 01.svg");
    background-position:center center;
    background-size:cover;
    width: 10vw;
    height: 4vw;
    position: absolute;
    margin-top: -6.77vw;
    margin-left: 65vw;
}
.a33{
    background-image: url("../Ямал/page3/foto/icon.svg");
    background-position:center center;
    background-size:cover;
    width: 6vw;
    height: 6vw;
    position: absolute;
    margin-top: -2vw;
    margin-left: 41vw;
}
.a34{
    background-image: url("../Ямал/page3/foto/icon-1.svg");
    background-position:center center;
    background-size:cover;
    width: 6vw;
    height: 6vw;
    position: absolute;
    margin-top: -19vw;
    margin-left: 70vw;
}
.quiz{
    background-image: url("../Ямал/page4/quiz/back.svg");
    background-position:center center;
    background-size:cover;
    width: 567px;
    height: 622px;
    position: relative;
    margin-top: -85px;
    margin-left: 107px;
}
.t4{
    font-family: 'Iskra', arial;
    width: 462px;
    font-size: 24px;
    position: absolute;
    margin-left: 105px;
    padding-top: 74px;
}
.a4{
    background-image: url("../Ямал/page4/quiz/survey_item.svg");
    border: none;
    background-position:center center;
    background-size:cover;
    width: 356px;
    height: 64px;
    position: absolute;
    margin-top: 160px;
    margin-left: 105px;
}
.a4:hover{
    background-image: url("../Ямал/page4/quiz/klick/survey_item.svg");
    transition: 0.7s;
}
.a41{
    background-image: url("../Ямал/page4/quiz/survey_item-1.svg");
    border: none;
    background-position:center center;
    background-size:cover;
    width: 356px;
    height: 64px;
    position: absolute;
    margin-top: 240px;
    margin-left: 105px;
}
.a41:hover{
    background-image: url("../Ямал/page4/quiz/klick/survey_item-1.svg");
    transition: 0.7s;
}
.a42{
    background-image: url("../Ямал/page4/quiz/survey_item-2.svg");
    border: none;
    background-position:center center;
    background-size:cover;
    width: 356px;
    height: 64px;
    position: absolute;
    margin-top: 320px;
    margin-left: 105px;
}
.a42:hover{
    background-image: url("../Ямал/page4/quiz/klick/survey_item-2.svg");
    transition: 0.7s;
}
.a43{
    background-image: url("../Ямал/page4/quiz/survey_item-3.svg");
    border: none;
    background-position:center center;
    background-size:cover;
    width: 356px;
    height: 64px;
    position: absolute;
    margin-top: 400px;
    margin-left: 105px;
    
}
.a43:hover{
    background-image: url("../Ямал/page4/quiz/klick/survey_item-3.svg");
    transition: 0.7s;
}
.activ-point{
    background-image: url("../Ямал/page4/quiz/active_point.svg");
    position: absolute; 
    background-position:center center;
    background-size:cover;
    width: 4px;
    height: 4px;
    margin-top: 495px;
    margin-left: 265px;
}
.t41{
    font-family: 'Iskra', arial;
    width: 516px;
    font-size: 36px;
    margin-left: 794px;
    margin-top: -173px;
    position: absolute;
}
.t42{
    font-family: 'Iskra', arial;
    width: 508px;
    font-weight: 100;
    font-size: 16px;
    margin-left: 794px;
    margin-top: -106px;
    position: absolute;
}
.line{
    background-image: url("../Ямал/page4/level/track.svg");
    /* position: relative; */
    width: 326px;
    height: 1px;
    margin-top: -393px;
    margin-left: 863px;
}
.a411{
    background-image: url("../Ямал/page4/level/button_icon.svg");
    border: none;
    background-position:center center;
    background-size:cover;
    width: 66px;
    height: 66px;
    position: absolute;
    margin-top: -36px;
    margin-left: 794px;
}
.a411:hover{
    background-image: url("../Ямал/page4/level/klick/button_icon.svg");
    transition: 0.7s;
}
.a412{
    background-image: url("../Ямал/page4/level/button_icon-1.svg");
    border: none;
    background-position:center center;
    background-size:cover;
    width: 66px;
    height: 66px;
    position: absolute;
    margin-top: -36px;
    margin-left: 898px;
}
.a412:hover{
    background-image: url("../Ямал/page4/level/klick/button_icon-1.svg");
    transition: 0.7s;
}
.a413{
    background-image: url("../Ямал/page4/level/button_icon-2.svg");
    border: none;
    background-position:center center;
    background-size:cover;
    width: 66px;
    height: 66px;
    position: absolute;
    margin-top: -36px;
    margin-left: 997px;
}
.a413:hover{
    background-image: url("../Ямал/page4/level/klick/button_icon-2.svg");
    transition: 0.7s;
}
.a414{
    background-image: url("../Ямал/page4/level/button_icon-3.svg");
    border: none;
    background-position:center center;
    background-size:cover;
    width: 66px;
    height: 66px;
    position: absolute;
    margin-top: -36px;
    margin-left: 1094px;
}
.a414:hover{
    background-image: url("../Ямал/page4/level/klick/button_icon-3.svg");
    transition: 0.7s;
}
.a415{
    background-image: url("../Ямал/page4/level/button_icon-4.svg");
    border: none;
    background-position:center center;
    background-size:cover;
    width: 66px;
    height: 66px;
    position: absolute;
    margin-top: -36px;
    margin-left: 1186px;
}
.a415:hover{
    background-image: url("../Ямал/page4/level/klick/button_icon-4.svg");
    transition: 0.7s;
}
.a416{
    background-image: url("../Ямал/page4/level/button_icon-5.svg");
    border: none;
    background-position:center center;
    background-size:cover;
    width: 32px;
    height: 32px;
    position: absolute;
    margin-top: 43px;
    margin-left: 795px;
}
.a416:hover{
    background-image: url("../Ямал/page4/level/klick/button_icon-5.svg");
    transition: 0.7s;
}
.activ-point4{
    background-image: url("../Ямал/page4/level/active_point.svg");
    position: absolute; 
    background-position:center center;
    background-size:cover;
    width: 4px;
    height: 4px;
    margin-top: 60px;
    margin-left: 929px;
}
.a421{
    background-image: url("../Ямал/page4/way\ 01.svg");
    background-position:center center;
    background-size:cover;
    width: 306px;
    height: 409px;
    margin-top: 111px;
    margin-left: 1058px;
}
.a422{
    background-image: url("../Ямал/page4/way\ 02.svg");
    background-position:center center;
    background-size:cover;
    width: 193px;
    height: 187px;
    margin-top: -75px;
    margin-left: 222px;
}
.t43{
    font-family: 'Iskra', arial;
    width: 516px;
    text-align: center;
    font-size: 24px;
    margin-left: 511px;
    margin-top: -251px;
}
.t44{
    font-family: 'Iskra', arial;
    width: 516px;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    margin-left: 530px;
    margin-top: 0px;
}
.button4{
    background-color: #009974; /*переход на 3 страницу */
    width: 237px;
    height: 40px;
    border: none;
    border-radius: 7px;
    font-size: 14px;
    color: white;
    margin-top: 16px;
    margin-left: 669px;
    margin-bottom: 300px;
}
.button4:hover{
    background-color: white;
    color: #009974;
    transition: 0.7s;
}
/* .otstup1{
    padding-top: 15%;
} */
.cont5{
    /* width: 2000px;
    height: 500px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.a5{
    background-image: url("../Ямал/page5/foto/leisure_item.svg");
    background-position:center center;
    background-size:cover;
    width: 216px;
    height: 306px;
    /* position: absolute;
    margin-top: 0px;
    margin-left: 240px; */
}
.a5:hover{
    background-image: url("../Ямал/page5/foto/klick/Group\ 5.svg");
    display: block;
    width: 332px;
    height: 383px;
    /* padding-top: 35px;
    margin-top: -33px;
    margin-left: 180px; */
}
.a51{
    background-image: url("../Ямал/page5/foto/leisure_item-1.svg");
    background-position:center center;
    background-size:cover;
    width: 216px;
    height: 306px;
    /* position: absolute;
    margin-top: 0px;
    margin-left: 540px; */

}
.a51:hover{
    background-image: url("../Ямал/page5/foto/klick/Group\ 4.svg");
    display: block;
    width: 332px;
    height: 383px;
    /* padding-top: 35px;
    margin-top: -33px;
    margin-left: 480px; */
}
.a52{
    background-image: url("../Ямал/page5/foto/leisure_item-2.svg");
    background-position:center center;
    background-size:cover;
    width: 216px;
    height: 306px;
    /* position: absolute;
    margin-top: 0px;
    margin-left: 840px;
    flex: 1 0 30%; */
}
.a52:hover{
    background-image: url("../Ямал/page5/foto/klick/Group\ 2.svg");
    display: block;
    width: 332px;
    height: 383px;
    /* padding-top: 35px;
    margin-top: -33px;
    margin-left: 780px; */

}
.a53{
    background-image: url("../Ямал/page5/foto/leisure_item-3.svg");
    background-position:center center;
    background-size:cover;
    width: 216px;
    height: 306px;
    /* position: absolute;
    margin-top: 0px;
    margin-left: 1140px;
    flex: 1 0 30%; */

}
.a53:hover{
    background-image: url("../Ямал/page5/foto/klick/Group\ 3.svg");
    display: block;
    width: 332px;
    height: 383px;
    /* padding-top: 35px;
    margin-top: -33px;
    margin-left: 1080px; */
}
.otstup2{
    margin-top: 10%;
}
.t6{
    font-family: 'Iskra', arial;
    font-size: 24px;
    margin-left: 317px;
    margin-top: 528px;
}
.a61{
    background-image: url("../Ямал/page6/button/input.svg");
    border: none;
    background-position:center center;
    background-size:cover;
    width: 123px;
    height: 39px;
    position: absolute;
    margin-top: -48px;
    margin-left: 499px;
}
.a62{
    background-image: url("../Ямал/page6/button/button.svg");
    border: none;
    background-position:center center;
    background-size:cover;
    width: 84px;
    height: 38px;
    position: absolute;
    margin-top: 15px;
    margin-left: 314px;
}
.a62:hover{
    background-image: url("../Ямал/page6/klick/button.svg");
    margin-top: 15px;
    margin-left: 314px;
}
.a63{
    background-image: url("../Ямал/page6/button/button-1.svg");
    border: none;
    background-position:center center;
    background-size:cover;
    width: 123px;
    height: 38px;
    position: absolute;
    margin-top: 15px;
    margin-left: 423px;
}
.a63:hover{
    background-image: url("../Ямал/page6/klick/button-1.svg");
    margin-top: 15px;
    margin-left: 423px;
}
.a64{
    background-image: url("../Ямал/page6/button/button-2.svg");
    border: none;
    background-position:center center;
    background-size:cover;
    width: 127px;
    height: 38px;
    position: absolute;
    margin-top: 15px;
    margin-left: 572px;
}
.a64:hover{
    background-image: url("../Ямал/page6/klick/button-2.svg");
    margin-top: 15px;
    margin-left: 572px;
}
.a65{
    background-image: url("../Ямал/page6/button/button-3.svg");
    border: none;
    background-position:center center;
    background-size:cover;
    width: 92px;
    height: 38px;
    position: absolute;
    margin-top: 15px;
    margin-left: 727px;
}
.a65:hover{
    background-image: url("../Ямал/page6/klick/button-3.svg");
    margin-top: 15px;
    margin-left: 727px;
}
.a66{
    background-image: url("../Ямал/page6/button/button-4.svg");
    border: none;
    background-position:center center;
    background-size:cover;
    width: 93px;
    height: 38px;
    position: absolute;
    margin-top: 15px;
    margin-left: 844px;
}
.a66:hover{
    background-image: url("../Ямал/page6/klick/button-4.svg");
    margin-top: 15px;
    margin-left: 844px;
}
.a67{
    background-image: url("../Ямал/page6/button/button-5.svg");
    border: none;
    background-position:center center;
    background-size:cover;
    width: 115px;
    height: 38px;
    position: absolute;
    margin-top: 15px;
    margin-left: 964px;
}
.a67:hover{
    background-image: url("../Ямал/page6/klick/button-5.svg");
    margin-top: 15px;
    margin-left: 964px;
}
.a611{
    background-image: url("../Ямал/page6/poster/date.svg");
    background-position:center center;
    background-size:cover;
    width: 1197px;
    height: 109px;
    position: absolute;
    margin-top: 80px;
    margin-left: 220px;
}
.b6{
    background-image: url("../Ямал/page6/poster/button_icon.svg");
    border: none;
    background-position:center center;
    background-size:cover;
    width: 32px;
    height: 32px;
    position: absolute;
    margin-top: 112px;
    margin-left: 1371px;
}
.b6:hover{
    background-image: url("../Ямал/page6/poster/klick/button_icon.svg");
    margin-top: 112px;
    margin-left: 1371px;
}
.a612{
    background-image: url("../Ямал/page6/poster/ivent.svg");
    background-position:center center;
    background-size:cover;
    width: 1114px;
    height: 223px;
    position: absolute;
    margin-top: 204px;
    margin-left: 242px;
}
.b61{
    background-image: url("../Ямал/page6/poster/button_icon.svg");
    border: none;
    background-position:center center;
    background-size:cover;
    width: 32px;
    height: 32px;
    position: absolute;
    margin-top: 267px;
    margin-left: 1371px;
}
.b61:hover{
    background-image: url("../Ямал/page6/poster/klick/button_icon.svg");
    margin-top: 267px;
    margin-left: 1371px;
}
.a613{
    background-image: url("../Ямал/page6/poster/slider.svg");
    background-position:center center;
    background-size:cover;
    width: 1114px;
    height: 237px;
    position: absolute;
    margin-top: 475px;
    margin-left: 242px;
}
.b62{
    background-image: url("../Ямал/page6/poster/button_icon.svg");
    border: none;
    background-position:center center;
    background-size:cover;
    width: 32px;
    height: 32px;
    position: absolute;
    margin-top: 581px;
    margin-left: 1371px;
}
.b62:hover{
    background-image: url("../Ямал/page6/poster/klick/button_icon.svg");
    margin-top: 581px;
    margin-left: 1371px;
}
/* Страница №7 */
.t7{
    font-family: 'Iskra', arial;
    font-size: 36px;
    margin-left: 315px;
    margin-top: 869px;
}
.t71{
    font-family: 'Iskra', arial;
    width: 516px;
    font-size: 16px;
    font-weight: 100;
    margin-left: 313px;
    margin-top: 0px;
}
.b7{
    background-color: #009974;
    width: 191px;
    height: 40px;
    border: none;
    border-radius: 7px;
    font-size: 14px;
    color: white;
    margin-top: 16px;
    margin-left: 313px;
}
.b7:hover{
    background-color: white;
    color: #009974;
    transition: 0.7s;
}

.a7{
    background-image: url("../Ямал/page7/Rectangle\ 6.svg");
    background-position:center center;
    background-size:cover;
    width: 280px;
    height: 200px;
    position: absolute;
    margin-top: -147px;
    margin-left: 914px;
}
.a71{
    background-image: url("../Ямал/page7/Rectangle\ 8.svg");
    background-position:center center;
    background-size:cover;
    width: 180px;
    height: 200px;
    position: absolute;
    margin-top: -148px;
    margin-left: 1222px;
}
.a72{
    background-image: url("../Ямал/page7/fact\ 01.svg");
    background-position:center center;
    background-size:cover;
    width: 172px;
    height: 94px;
    position: absolute;
    margin-top: -71px;
    margin-left: 811px;
}
.cont7{
    display: flex;
    padding: 0 5vw;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 200px;
}
.a711{
    background-image: url("../Ямал/page7/item.svg");
    width: 14vw;
    height: 18.3vw;
    /* background-position:center center;
    background-size:cover; */
    /* width: 223px;
    height: 291px; */
    /* position: absolute;
    margin-top: 160px;
    margin-left: 240px; */
}
.a711:hover{
    background-image: url("../Ямал/page7/klick/Group\ 6.svg");
    background-size: cover;
    transform: scale(1);
    /* display: block; */
    width: 332px;
    height: 383px;
    /* padding-top: 35px;
    margin-top: 10px;
    margin-left: 180px; */
}
.a712{
    background-image: url("../Ямал/page7/item-1.svg");
    /* background-position:center center;
    background-size:cover; */
    width: 14vw;
    height: 18.3vw;
    /* width: 223px;
    height: 291px; */
    /* position: absolute;
    margin-top: 160px;
    margin-left: 540px; */
}
.a712:hover{
    background-image: url("../Ямал/page7/klick/Group\ 7.svg");
    /* display: block; */
    width: 332px;
    height: 383px;
    /* padding-top: 35px;
    margin-top: 10px;
    margin-left: 480px; */
}
.a713{
    background-image: url("../Ямал/page7/item-2.svg");
    /* background-position:center center;
    background-size:cover; */
    width: 14vw;
    height: 18.3vw;
    /* width: 223px;
    height: 291px; */
    /* position: absolute;
    margin-top: 160px;
    margin-left: 840px; */
}
.a713:hover{
    background-image: url("../Ямал/page7/klick/Group\ 8.svg");
    /* display: block; */
    width: 332px;
    height: 383px;
    /* padding-top: 35px;
    margin-top: 10px;
    margin-left: 780px; */

}
.a714{
    background-image: url("../Ямал/page7/item-3.svg");
    /* background-position:center center;
    background-size:cover; */
    width: 14vw;
    height: 18.3vw;
    /* width: 223px;
    height: 291px; */
    /* position: absolute;
    margin-top: 160px;
    margin-left: 1140px; */

}
.a714:hover{
    background-image: url("../Ямал/page7/klick/Group\ 9.svg");
    /* display: block; */
    width: 332px;
    height: 383px;
    /* padding-top: 35px;
    margin-top: 10px;
    margin-left: 1080px; */
}
.b72{
    background-image: url("../Ямал/page6/poster/button_icon.svg");
    z-index: 0;
    border: none;
    background-position:center center;
    background-size:cover;
    width: 32px;
    height: 32px;
    position: absolute;
    margin-top: -200px;
    margin-left: 1450px;
}
.b72:hover{
    background-image: url("../Ямал/page6/poster/klick/button_icon.svg");
    z-index: 1;
    margin-top: -150px;
    margin-left: 1450px;
}
.fon8{
    background-image: url("../Ямал/page8/Group\ 10.svg");
    width: 1302px;
    height: 300px;
    position: relative;
    margin-top: 0px;
    margin-left: 230px;
}
.t8{
    font-family: 'Iskra', arial;
    font-size: 36px;
    color: white;
    padding-top: 58px;
    margin-left: 103px;
    margin-top: 648px;
}
.t81{
    font-family: 'Iskra', arial;
    font-size: 16px;
    width: 333px;
    font-weight: 100;
    color: white;
    margin-left: 103px;
    margin-top: 0px;
}
.b8{
    background-color: #009974;
    width: 198px;
    height: 40px;
    border: none;
    border-radius: 7px;
    font-size: 14px;
    color: white;
    margin-top: 0px;
    margin-left: 103px;
}
.b8:hover{
    background-color: white;
    color: #009974;
    transition: 0.7s;
}
.a8{
    background-image: url("../Ямал/page8/photo_card.svg");
    background-position:center center;
    background-size:cover;
    width: 319px;
    height: 360px;
    position: absolute;
    margin-top: -311px;
    margin-left: 660px;
}
.a81{
    background-image: url("../Ямал/page8/photo_card-1.svg");
    background-position:center center;
    background-size:cover;
    width: 319px;
    height: 360px;
    position: absolute;
    margin-top: -151px;
    margin-left: 824px;
}
.a82{
    background-image: url("../Ямал/page8/icon.svg");
    background-position:center center;
    background-size:cover;
    width: 66px;
    height: 66px;
    position: absolute;
    margin-top: 55px;
    margin-left: 602px;
}
.a83{
    background-image: url("../Ямал/page8/icon-1.svg");
    background-position:center center;
    background-size:cover;
    width: 66px;
    height: 66px;
    position: absolute;
    margin-top: -244px;
    margin-left: 1046px;
}
.a84{
    background-image: url("../Ямал/page8/icon-2.svg");
    background-position:center center;
    background-size:cover;
    width: 66px;
    height: 66px;
    position: absolute;
    margin-top: -242px;
    margin-left: 492px;
}
.a85{
    background-image: url("../Ямал/page8/Rectangle\ 28.svg");
    background-position:center center;
    background-size:cover;
    width: 66px;
    height: 66px;
    position: absolute;
    margin-top: -247px;
    margin-left: 103px;
}
.a811{
    background-image: url("../Ямал/page8/foto/Rectangle\ 41.svg");
    background-position:center center;
    background-size:cover;
    width: 216px;
    height: 216px;
    position: absolute;
    margin-top: 205px;
    margin-left: 334px;
}
.a812{
    background-image: url("../Ямал/page8/foto/Rectangle\ 42.svg");
    background-position:center center;
    background-size:cover;
    width: 216px;
    height: 216px;
    position: absolute;
    margin-top: 205px;
    margin-left: 600px;
}
.a813{
    background-image: url("../Ямал/page8/foto/Rectangle\ 43.svg");
    background-position:center center;
    background-size:cover;
    width: 216px;
    height: 216px;
    position: absolute;
    margin-top: 205px;
    margin-left: 860px;
}
.a814{
    background-image: url("../Ямал/page8/foto/Rectangle\ 44.svg");
    background-position:center center;
    background-size:cover;
    width: 216px;
    height: 216px;
    position: absolute;
    margin-top: 205px;
    margin-left: 1122px;
}
.line8{
    background-image: url("../Ямал/page8/foto/scroll.svg");
    background-position:center center;
    background-size:cover;
    width: 1176px;
    height: 3px;
    position: absolute;
    margin-top: 463px;
    margin-left: 249px;
}
.b81{
    background-image: url('../Ямал/page1/news/button_icon.svg');
    width: 32px;
    height: 32px;
    border: none;
    background-size: cover;
    border-radius: 7px;
    position: absolute;
    margin-top: 301px;
    margin-left: 1369px; 
  }
.b81:hover{
    background-image: url("../Ямал/page1/news/button_icon1.svg");
    transition: 0.7s;
}
.b82{
    background-image: url('../Ямал/page1/news/button_icon2.svg');
    width: 32px;
    height: 32px;
    border: none;
    background-size: cover;
    border-radius: 7px;
    position: absolute;
    margin-top: 301px;
    margin-left: 271px;
  }
.b82:hover{
    background-image: url("../Ямал/page1/news/button_icon\ 2\(1\).svg");
    transition: 0.7s;
}
.footer{
    margin-top: 34.24vw;
    width: 98vw;
    height: 20vw;
    background:#B3B3B3 ;
    position: relative;
}
/* .footer1{
    /* margin-top: 36vw;
    width: 98vw;
    height: 20vw; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer2{
    display: flex;
    justify-content: space-around;
}
.footer3{
    /* margin-top: 4vw;
    width: 98vw;
    height: 20vw; 
    display: flex;
    justify-content: space-around;
} 
 */
 .logo9{
    background-image: url('../Ямал/basement/Logo\ full.svg');
    width: 84px;
    height: 47px;
    background-size: cover;
    position: absolute;
    margin-top: 55px;
    margin-left: 99px;
}
.media9{
    background-image: url('../Ямал/basement/social_media.svg');
    width: 196px;
    height: 20px;
    background-size: cover;
    position: absolute;
    margin-top: 217px;
    margin-left: 99px;
}

.line9{
    background-image: url('../Ямал/basement/separator.svg');
    width: 1330px;
    height: 2px;
    background-size: cover;
    position: absolute;
    margin-top: 195px;
    margin-left: 99px;
}
.t914{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #009974;
    margin-left: 1005px;
    margin-top: 64px;
}
.t915{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #009974;
    margin-left: 1221px;
    margin-top: -31px;
}
.t99{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #D8D8D8;
    margin-left: 99px;
    margin-top: 41px;
}
.t910{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #D8D8D8;
    margin-left: 380px;
    margin-top: -31px;
}
.t911{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #D8D8D8;
    margin-left: 618px;
    margin-top: -31px;
}
.t912{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #D8D8D8;
    margin-left: 1005px;
    margin-top: -31px;
}
.t913{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #D8D8D8;
    margin-left: 1220px;
    margin-top: -31px;
}
.t91{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 100;
    padding-top: 51px;
    margin-left: 383px;
    margin-top: -26px;
}
.t92{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin-left: 384px;
    margin-top: 21px;
}
.t93{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin-left: 614px;
    margin-top: -70px;
}
.t94{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin-left: 615px;
    margin-top: 21px;
}
.t95{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin-left: 1004px;
    margin-top: -67px;
}
.t96{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin-left: 1003px;
    margin-top: 20px;
}
.t97{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin-left: 1223px;
    margin-top: -65px;
}
.t98{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin-left: 1223px;
    margin-top: 20px;
}
/* Для экранов с шириной до 768px */
@media(max-width: 768px){
    .fon{
        background-image: url("../Ямал/page1/back.png");
        background-position:center center;
        background-size:cover;
        width: 700px;
        height: 500px;
        margin-left: -0%;
        margin-right: 0%;
    }
    .hat {
        width: 754px;
    }
    .baclground{
        display: none;
    }
    .eng{
        display: none;
    }
    .menu{
        margin-left: 332px;
    }
    .wers{
        right: 260px;
    }
    .t{
        padding-left: 35px;
        padding-top: 103px;
    }
    .t1{
        padding-left: 35px;
        margin-top: -25px;
    }
    .button{
        margin-left: 32px;
        padding-left: -24px;
    }
    .weather{
        background-position:center center;
        background-size:cover;
        width: 27%;
        height: 25%;
        margin-top: -210px;
        margin-left: 481px;
        
    }
    .aurora{
        background-position:center center;
        background-size:cover;
        width: 27%;
        height: 25%;
        margin-top: -13px;
        margin-left: 481px;
        
    }
    .image-button {
        margin-left: 168px;
    }
    .image-button2 {
        margin-left: -11px;
    }
    .additionally {
        background-position:center center;
        background-size:cover;
        width: 33%;
        height: 42%;
        margin-top: -3px;
        margin-left: 461px;
    }
    .t2{
        width: 433px;
        font-size: 30px;
        margin-left: 43px;
    }
    .t21{
        margin-left: 43px;
    }
    .t22{
        width: 423px;
        font-size: 14px;
        margin-top: 30px;
        margin-left: 41px;
    }
    .button2{
        margin-left: 37px;
    }
    .a2 {
        width: 219px;
        height: 151px;
        margin-top: -325px;
        margin-left: 480px;
    }
    .a21 {
        width: 220px;
        height: 127px;
        margin-top: -160px;
        margin-left: 479px;
    }
    .a24 {
        width: 154px;
        height: 93px;
        margin-top: -164px;
        margin-left: 397px;
    }
    .a25 {
        width: 154px;
        height: 85px;
        margin-top: -296px;
        margin-left: 398px;
    }
    .page3 {
        width: 1302px;
        height: 300px;
        margin-top: 0px;
        margin-left: -13px;
    }
    .t3 {
        width: 405px;
        font-size: 36px;
        padding-top: 31px;
        margin-left: 50px;
    }
    .t31 {
        width: 384px;
        font-size: 16px;
        font-weight: 300;
        margin-top: -1px;
        margin-left: 50px;
    }
    .a3 {
        width: 223px;
        height: 288px;
        margin-top: -327px;
        margin-left: 419px;
    }
    .a31 {
        width: 223px;
        height: 293px;
        margin-top: -187px;
        margin-left: 523px;
    }
    .a32 {
        width: 144px;
        height: 54px;
        margin-top: -233px;
        margin-left: 602px;
    }
    .a33 {
        width: 66px;
        height: 66px;
        margin-top: 5px;
        margin-left: 399px;
    }
    .quiz {
        width: 429px;
        height: 514px;
        margin-top: -85px;
        margin-left: -27px;
    }
    .t4 {
        width: 462px;
        font-size: 24px;
        margin-left: 70px;
        padding-top: 67px;
    }
    .a4 {
        width: 283px;
        height: 51px;
        margin-top: 142px;
        margin-left: 66px;
    }
    .a4 {
        width: 283px;
        height: 51px;
        margin-top: 142px;
        margin-left: 66px;
    }
    .a42 {
        width: 283px;
        height: 51px;
        margin-top: 293px;
        margin-left: 67px;
    }
    .a43 {
        width: 283px;
        height: 51px;
        margin-top: 370px;
        margin-left: 68px;
    }
    .activ-point {
        width: 4px;
        height: 4px;
        margin-top: 478px;
        margin-left: 189px;
    }
    .t41 {
        width: 332px;
        font-size: 30px;
        margin-left: 417px;
        margin-top: -164px;
    }
    .t42 {
        width: 325px;
        font-weight: 100;
        font-size: 14px;
        margin-left: 420px;
        margin-top: -82px;
    }
    .line {
        width: 248px;
        height: 1px;
        margin-top: -307px;
        margin-left: 452px;
    }
    .a41 {
        width: 283px;
        height: 51px;
        margin-top: 218px;
        margin-left: 67px;
    }
    .a411 {
        width: 50px;
        height: 50px;
        margin-top: -23px;
        margin-left: 418px;
    }
    .a412 {
        width: 50px;
        height: 50px;
        margin-top: -24px;
        margin-left: 484px;
    }
    .a413 {
        width: 50px;
        height: 50px;
        margin-top: -24px;
        margin-left: 556px;
    }
    .a414 {
        width: 50px;
        height: 50px;
        margin-top: -24px;
        margin-left: 626px;
    }
    .a415 {
        width: 50px;
        height: 50px;
        margin-top: -24px;
        margin-left: 692px;
    }
    .a416 {
        width: 28px;
        height: 28px;
        margin-top: 37px;
        margin-left: 420px;
    }
    .activ-point4 {
        width: 4px;
        height: 4px;
        margin-top: 49px;
        margin-left: 505px;
    }
    .a421 {
        margin-left: 581px;
    }
    .a422 {
        margin-left: -101px;
    }
    .t43 {
        margin-left: 160px;
        margin-top: -274px;
    }
    .t44 {
        margin-left: 156px;
        margin-top: 0px;
    }
    .t44 {
        margin-left: 156px;
        margin-top: 0px;
    }
    .button4 {
        margin-top: 16px;
        margin-left: 295px;
    }
    .otstup1 {
        padding-top: 30%;
    }
    .a5 {
        width: 166px;
        height: 237px;
        margin-top: 0px;
        margin-left: 12px;
    }
    .a51 {
        width: 166px;
        height: 237px;
        margin-top: 0px;
        margin-left: 194px;
    }
    .a52 {
        width: 166px;
        height: 237px;
        margin-top: 0px;
        margin-left: 378px;
    }
    .a53 {
        width: 166px;
        height: 237px;
        margin-top: 0px;
        margin-left: 563px;
    }
    .t6 {
        font-size: 24px;
        margin-left: 10px;
        margin-top: 378px;
    }
    .a61 {
        width: 123px;
        height: 39px;
        margin-top: -48px;
        margin-left: 177px;
    }
    .a62 {
        width: 84px;
        height: 38px;
        margin-top: 15px;
        margin-left: 7px;
    }
    .a63 {
        width: 123px;
        height: 38px;
        margin-top: 15px;
        margin-left: 107px;
    }
    .a64 {
        width: 127px;
        height: 38px;
        margin-top: 15px;
        margin-left: 249px;
    }
    .a65 {
        width: 92px;
        height: 38px;
        margin-top: 15px;
        margin-left: 399px;
    }
    .a66 {
        width: 93px;
        height: 38px;
        margin-top: 15px;
        margin-left: 512px;
    }
    .a67 {
        width: 115px;
        height: 38px;
        margin-top: 15px;
        margin-left: 621px;
    }
    .a611 {
        width: 788px;
        height: 74px;
        margin-top: 63px;
        margin-left: -8px;
    }
    .b6 {
        display: none;
    }
    .a612 {
        width: 746px;
        height: 146px;
        margin-top: 148px;
        margin-left: 9px;
    }
    .b61 {
        display: none;
    }
    .a613 {
        width: 729px;
        height: 154px;
        margin-top: 320px;
        margin-left: 11px;
    }
    .b62 {
        display: none;
    }
    .t7 {
        font-size: 36px;
        margin-left: 18px;
        margin-top: 655px;
    }
    .t71 {
        width: 431px;
        font-size: 16px;
        font-weight: 100;
        margin-left: 20px;
        margin-top: 0px;
    }
    .b7 {
        background-color: #009974;
        width: 191px;
        height: 40px;
        border: none;
        border-radius: 7px;
        font-size: 14px;
        color: white;
        margin-top: 16px;
        margin-left: 19px;
    }
    .a7 {
        width: 244px;
        height: 183px;
        margin-top: -166px;
        margin-left: 495px;
    }
    .a71 {
        display: none;
    }
    .a72 {
        width: 172px;
        height: 94px;
        margin-top: -71px;
        margin-left: 404px;
    }
    .a711 {
        width: 183px;
        height: 237px;
        margin-top: 160px;
        margin-left: -1px;
    }
    .a712 {
        width: 183px;
        height: 237px;
        margin-top: 160px;
        margin-left: 187px;
    }
    .a713 {
        width: 183px;
        height: 237px;
        margin-top: 160px;
        margin-left: 374px;
    }
    .a714 {
        width: 183px;
        height: 237px;
        margin-top: 160px;
        margin-left: 561px;
    }
    .fon8 {
        width: 1302px;
        height: 300px;
        margin-top: 0px;
        margin-left: -17px;
    }
    .t8 {
        font-size: 36px;
        padding-top: 58px;
        margin-left: 43px;
        margin-top: 648px;
    }
    .t81 {
        font-size: 16px;
        width: 333px;
        font-weight: 100;
        color: white;
        margin-left: 45px;
        margin-top: 0px;
    }
    .b8 {
        margin-left: 43px;
    }
    .a8 {
        width: 286px;
        height: 318px;
        margin-top: -311px;
        margin-left: 379px;
    }
    .a81 {
        width: 286px;
        height: 318px;
        margin-top: -151px;
        margin-left: 468px;
    }
    .a82 {
        width: 66px;
        height: 66px;
        margin-top: 55px;
        margin-left: 407px;
    }
    .a83 {
        width: 66px;
        height: 66px;
        margin-top: -244px;
        margin-left: 675px;
    }
    .a84 {
        width: 66px;
        height: 66px;
        margin-top: -242px;
        margin-left: 322px;
    }
    .a85 {
        width: 66px;
        height: 66px;
        margin-top: -247px;
        margin-left: 41px;
    }
    .a811 {
        width: 183px;
        height: 183px;
        margin-top: 205px;
        margin-left: 3px;
    }
    .a812 {
        width: 183px;
        height: 183px;
        margin-top: 205px;
        margin-left: 188px;
    }
    .a813 {
        width: 183px;
        height: 183px;
        margin-top: 205px;
        margin-left: 374px;
    }
    .a814 {
        width: 183px;
        height: 183px;
        margin-top: 205px;
        margin-left: 559px;
    }
    .line8 {
        margin-top: 401px;
        margin-left: 4px;
    }
    .b81 {
        margin-top: 285px;
        margin-left: 709px;
    }                                  
    .b82 {
        margin-top: 293px;
        margin-left: 5px;
    }
    .b82 {
        margin-top: 293px;
        margin-left: 5px;
    }
    .media9 {
        margin-top: 217px;
        margin-left: 24px;
    }
    .line9 {
        margin-top: 195px;
        margin-left: 17px;
    }
    .t91 {
        margin-left: 186px;
        margin-top: -67px;
    }
    .t92 {
        margin-left: 186px;
        margin-top: -3px;
    }
    .t93 {
        margin-left: 186px;
        margin-top: -3px;
    }
    .t94 {
        margin-left: 186px;
        margin-top: 11px;
    }
    .t95 {
        margin-left: 347px;
        margin-top: -111px;
    }
    .t96 {
        margin-left: 342px;
        margin-top: -4px;
    }
    .t97 {
        margin-left: 342px;
        margin-top: -2px;
    }
    .t98 {
        margin-left: 342px;
        margin-top: 9px;
    }
    .t99 {
        margin-left: 25px;
        margin-top: 9px;
    }
    .t910 {
        margin-left: 186px;
        margin-top: -39px;
    }
    .t911 {
        margin-left: 186px;
        margin-top: -13px;
    }
    .t912 {
        margin-left: 341px;
        margin-top: -47px;
    }
    .t913 {
        margin-left: 341px;
        margin-top: -11px;
    }
    .t914 {
        margin-left: 371px;
        margin-top: 26px;
    }
    .t915 {
        margin-left: 577px;
        margin-top: -31px;
    }
    .logo9 {
        margin-top: 45px;
        margin-left: 23px;
    }
    
    
}





@media(max-width: 320px){
    .gps1{
        display: none;
    }
    .menu1{
        display: none;
    }
    .eng{
        display: none;
    }
    .wers{
        display: none;
    }
    .wers1{
        display: none;
    }
    .image-container { 
        margin-left: 91px;
    }
    .gps {
        margin-left: -115px;
    }
    .menu{
        margin-left: 265px;
    }
    .fon{
        background-position:center center;
        background-size:cover;
        width: 320px;
        height: 760px;
        margin-left: -0%;
        margin-right: 0%;
    }
    .t{
        font-size: 20px;
        width: 30%;
        padding-left: 15px;
        padding-top: 103px;
    }
    .t1{
        font-size: 14px;
        font-weight: 100;
        width: 85%;
        padding-left: 15px;
        margin-top: -25px;
    }
    .button{
        margin-left: 14px;
        padding-left: -24px;
    }
    .weather{
        background-position:center center;
        background-size:cover;
        width: 100%;
        height: 20%;
        margin-top: 34px;
        margin-left: -15px;
        
    }
    .aurora{
        background-position:center center;
        background-size:cover;
        width: 100%;
        height: 20%;
        margin-top: -10px;
        margin-left: -15px;
        
    }
    .image-button {
        margin-top: 71px;
        margin-left: 268px;
    }
    .image-button2 {
        margin-top: 71px;
        margin-left: 20px;
    }
    .additionally {
        background-position:center center;
        background-size:cover;
        width: 99%;
        height: 40%;
        margin-top: -15px;
        margin-left: -14px;
    }
    .t2 {
        margin-top: 409px;
        width: 275px;
        font-size: 16px;
        margin-left: 12px;
    }
    .t21 {
        margin-left: 12px;
    }
    .t22 {
        width: 423px;
        font-size: 14px;
        margin-top: 17px;
        margin-left: 8px;
    }
    .button2 {
        margin-left: 7px;
    }
    .button2 {
        margin-left: 7px;
    }
    .a2 {
        width: 181px;
        height: 197px;
        margin-top: -477px;
        margin-left: 9px;
    }
    .a21 {
        width: 109px;
        height: 197px;
        margin-top: -477px;
        margin-left: 194px;
    }
    .a24 {
        width: 154px;
        height: 93px;
        margin-top: -331px;
        margin-left: 145px;
    }
    .a25 {
        width: 154px;
        height: 85px;
        margin-top: -514px;
        margin-left: 13px;
    }
    .page3 {
        width: 1302px;
        height: 300px;
        margin-top: 0px;
        margin-left: -13px;
    }
    .t3 {
        width: 267px;
        font-size: 24px;
        padding-top: 31px;
        margin-left: 29px;
    }
    .t31 {
        width: 242px;
        font-size: 12px;
        font-weight: 300;
        margin-top: -1px;
        margin-left: 27px;
    }
    .button3 {
        background-color: #009974;
        width: 225px;
        height: 40px;
        border: none;
        border-radius: 7px;
        font-size: 14px;
        color: white;
        margin-top: 16px;
        margin-left: 23px;
    }
    .quiz {
        width: 325px;
        height: 433px;
        margin-top: 444px;
        margin-left: -20px;
    }
    .t4 {
        width: 462px;
        font-size: 20px;
        margin-left: 47px;
        padding-top: 55px;
    }
    .a4 {
        width: 283px;
        height: 51px;
        margin-top: 106px;
        margin-left: 24px;
    }
    .a41 {
        width: 283px;
        height: 51px;
        margin-top: 170px;
        margin-left: 24px;
    }
    .a42 {
        width: 283px;
        height: 51px;
        margin-top: 236px;
        margin-left: 23px;
    }
    .a43 {
        width: 283px;
        height: 51px;
        margin-top: 303px;
        margin-left: 21px;
    }
    .activ-point {
        width: 4px;
        height: 4px;
        margin-top: 399px;
        margin-left: 156px;
    }
    .t41 {
        width: 228px;
        font-size: 22px;
        margin-left: 19px;
        margin-top: -530px;
    }
    .t42 {
        width: 269px;
        font-weight: 100;
        font-size: 14px;
        margin-left: 17px;
        margin-top: -463px;
    }
    .line {
        width: 248px;
        height: 1px;
        margin-top: -246px;
        margin-left: -596px;
    }
    .a411 {
        width: 50px;
        height: 50px;
        margin-top: -397px;
        margin-left: 15px;
    }
    .a412 {
        width: 50px;
        height: 50px;
        margin-top: -397px;
        margin-left: 70px;
    }
    .a413 {
        width: 50px;
        height: 50px;
        margin-top: -397px;
        margin-left: 125px;
    }
    .a414 {
        width: 50px;
        height: 50px;
        margin-top: -398px;
        margin-left: 179px;
    }
    .a415 {
        width: 50px;
        height: 50px;
        margin-top: -396px;
        margin-left: 234px;
    }
    .a416 {
        width: 28px;
        height: 28px;
        margin-top: -336px;
        margin-left: 15px;
    }
    .activ-point4 {
        width: 4px;
        height: 4px;
        margin-top: -323px;
        margin-left: 89px;
    }
    .a421 {
        margin-left: 780px;
    }
    .a422 {
        display: none;
    }
    .t43 {
        font-size: 20px;
        margin-left: -114px;
        margin-top: -303px;
    }
    .t44 {
        width: 300px;
        font-size: 13px;
        margin-left: -7px;
        margin-top: 0px;
    }
    .button4 {
        margin-top: 16px;
        margin-left: 31px;
    }
    .t7 {
        font-size: 30px;
        margin-left: 18px;
        margin-top: 794px;
    }
    .t71 {
        width: 272px;
        font-size: 14px;
        font-weight: 100;
        margin-left: 20px;
        margin-top: 0px;
    }
    .b7 {
        background-color: #009974;
        width: 191px;
        height: 40px;
        border: none;
        border-radius: 7px;
        font-size: 14px;
        color: white;
        margin-top: 16px;
        margin-left: 19px;
    }
    .a7 {
        width: 157px;
        height: 167px;
        margin-top: -376px;
        margin-left: 16px;
    }
    .a71 {
        background-image: url(../Ямал/page7/Rectangle\ 8.svg);
        background-position: center center;
        background-size: cover;
        width: 101px;
        height: 168px;
        position: absolute;
        margin-top: -377px;
        margin-left: 185px;
    }
    .a72 {
        width: 172px;
        height: 94px;
        margin-top: -419px;
        margin-left: -2px;
    }
    .t81 {
        font-size: 12px;
        width: 248px;
        font-weight: 100;
        color: white;
        margin-left: 45px;
        margin-top: 0px;
    }
    .line8 {
        display: none;
    }
    .footer {
        margin-top: 662px;
        width: 1566px;
        height: 567px;
        background: #B3B3B3;
        position: relative;
    }
    .logo9 {
        margin-top: 45px;
        margin-left: 23px;
    }
    .media9 {
        margin-top: 482px;
        margin-left: 45px;
    }
    .line9 {
        margin-top: 468px;
        margin-left: 31px;
    }
    .t91 {
        padding-top: 113px;
        margin-left: 25px;
        margin-top: -94px;
    }
    .t92 {
        margin-left: 26px;
        margin-top: -3px;
    }
    .t93 {
        margin-left: 27px;
        margin-top: -3px;
    }
    .t94 {
        margin-left: 28px;
        margin-top: -1px;
    }
    .t95 {
        margin-left: 29px;
        margin-top: -6px;
    }
    .t96 {
        margin-left: 28px;
        margin-top: -4px;
    }
    .t97 {
        margin-left: 27px;
        margin-top: -2px;
    }
    .t98 {
        margin-left: 28px;
        margin-top: 9px;
    }
    .t99 {
        margin-left: 33px;
        margin-top: 36px;
    }
    .t910 {
        margin-left: 33px;
        margin-top: -10px;
    }
    .t911 {
        margin-left: 33px;
        margin-top: -7px;
    }
    .t912 {
        margin-left: 33px;
        margin-top: -7px;
    }
    .t913 {
        margin-left: 32px;
        margin-top: -9px;
    }
    .t914 {
        margin-left: 21px;
        margin-top: 73px;
        font-size: 10px;
    }
    .t915 {
        margin-left:161px;
        margin-top: -24px;
        font-size: 10px;
    }
}